body{
  font-family: sans-serif;
  font-size:100%;
  background-color: blue#FCF7F8;
}

header {
  text-align: center;
  background-color: rgb(49, 47, 47);
  color:whitesmoke; 
  text-align: center;
}
#display{
 width: 170px;
 height: 170px;
 border-radius: 50%;
 margin: 10px;
 object-fit: cover;
 object-position: top 50%;
}

#Between{
  min-width: fit-content;
  }

#example{
  min-width: fit-content;
}

#Menu{
 color: black;
 display: flex;
 background-color: rgb(84, 85, 87) ;
}

section {
 text-align: left;
 background-color: cornflowerblue; 
 max-width: fit-content;
 border-style: solid;color: rgb(92, 29, 92);
 border width: 40%;
 }

 #sidebar{
  display: flex; 
 }

 .body{
   padding-left:2 rem;
 }

 #container{
   display: flex;
   width: 100%;
   background-color:rgb(84, 85, 87);
 }
 
article{
  text-align: left;
  color: black;
  border-style: solid;
  background-color: rgb(126, 128, 131);
  border width: 60%;
}
main{
  text-align: left;
  background-color:magenta;
  border-style: solid;
  border-width: 40;
}

footer {
  background-color: rgb(26, 26, 27);
  text-align: center;
}
#footer{
  position: relative;
  justify-content: space-between;
}